#preview-pane {
    width: 640px;
}

#preview-pane .switch-toggle.preview-view-toggle {
    width: 100%;
}

#preview-pane p {
    font-family: "Georgia", serif;
	font-size: 18px;
    line-height: 25px;
    margin: 0 0 1em;
}

#code #advanced-users {
	width: 100%;
}

#chartwerk {
	margin: 0 0 25px;
}

#chartwerk.single {
    float: left;

    padding: 0 20px 25px 0;
    overflow: hidden;
    box-sizing: initial;
}

.ace_search_field {
    color: initial;
}
